%h1 Movies#new
%p Find me in app/views/movies/new.html.haml
%h2 Create a new Movie record
= form_tag movies_path, :method => :post do
  = label :movie, :title, 'Title'
  = text_field :movie, :title
  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']
  = label :movie, :release_date, 'Released on'
  = date_select :movie, :release_date
  = submit_tag 'Save changes'