!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body
  -if moviegoer_signed_in?
    %p Welcome. Signed in as #{current_moviegoer.email}. Not you? #{link_to 'Sign out', destroy_moviegoer_session_path, :method => :delete}
  -else
    %p.login=link_to 'Sign up', new_moviegoer_session_path
  -if flash[:notice]
    #notice.message= flash[:notice]
  -elsif flash[:warning]
    #warning.message= flash[:warning]
  = yield
